.nav-svg{
  fill:gray;
}

.nav-svg-size:hover path{
  fill:#071b40;
  transition: .3s;
}

.nav-svg-size{
  width: 25px;
  height: 25px;
  fill:none;
  margin-top:auto;
  margin-bottom:auto;
  /* stroke:#292F33; */
  /* stroke-miterlimit:10; */
  /* enable-background:new    ;} */
}

.social-icon-pad{
  padding: .5rem;
}